In [10]:
import pandas as pd

In [11]:
data=pandas.read_csv("The Top Billionaires.csv")

In [15]:
data.describe()

             2018        2019        2020        2021       2022
count   10.000000   10.000000   10.000000   10.000000   10.00000
mean    61.120000   66.260000   62.760000  112.470000  130.11000
std     28.019787   31.293031   26.949302   35.791341   40.86744
min     19.900000   22.300000   24.600000   68.700000   90.70000
25%     41.950000   49.850000   49.550000   89.625000  106.25000
50%     53.650000   56.650000   55.850000   94.500000  114.50000
75%     81.000000   80.875000   73.875000  143.500000  150.75000
max    112.000000  131.000000  113.000000  177.000000  219.00000

In [16]:
import pandas as pd

In [18]:
data=pandas.read_csv("world-population.csv")

In [19]:
data

,cca2,name,pop2022,pop2020,pop2050,pop2030,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,Density,GrowthRate,WorldPercentage,rank
0,CN,China,1448471.400,1439323.776,1402405.170,1464340.159,1406847.870,1368810.615,1290550.765,1176883.674,1000089.235,827601.394,9706961,149.2199,1.0029,0.1821,1
1,IN,India,1406631.776,1380004.385,1639176.033,1503642.322,1310152.403,1234281.170,1056575.549,873277.798,698952.844,555189.792,3287590,427.8611,1.0095,0.1768,2
2,US,United States,334805.269,331002.651,379419.102,349641.876,320878.310,309011.475,281710.909,252120.309,229476.354,209513.341,9372610,35.7217,1.0057,0.0421,3
3,ID,Indonesia,279134.505,273523.615,330904.664,299198.430,258383.256,241834.215,211513.823,181413.402,147447.836,114793.178,1904569,146.5605,1.0100,0.0351,4
4,PK,Pakistan,229488.994,220892.340,338013.196,262958.794,199426.964,179424.641,142343.578,107647.921,78054.343,58142.060,881912,260.2176,1.0190,0.0289,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,MS,Montserrat,4.965,4.992,4.153,4.763,4.967,4.899,4.929,10.615,11.607,11.534,102,48.6765,0.9976,0.0000,228
228,FK,Falkland Islands,3.539,3.480,3.243,3.436,2.834,2.901,2.892,1.982,1.854,1.992,12173,0.2907,1.0017,0.0000,229
229,NU,Niue,1.622,1.626,1.778,1.664,1.619,1.618,1.899,2.329,3.404,5.135,260,6.2385,1.0019,0.0000,230
230,TK,Tokelau,1.378,1.357,1.565,1.448,1.252,1.140,1.554,1.608,1.553,1.621,12,114.8333,1.0036,0.0000,231
231,VA,Vatican City,0.799,0.801,0.814,0.795,0.803,0.794,0.785,0.768,0.724,0.644,1,799.0000,0.9988,0.0000,232

In [20]:
data.describe()

,pop2022,pop2020,pop2050,pop2030,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,Density,GrowthRate,WorldPercentage,rank
count,2.320000e+02,2.320000e+02,2.320000e+02,2.320000e+02,2.320000e+02,2.320000e+02,2.320000e+02,2.320000e+02,2.320000e+02,232.000000,2.320000e+02,232.000000,232.000000,232.000000,232.000000
mean,3.428338e+04,3.359738e+04,4.196034e+04,3.684598e+04,3.180863e+04,2.998551e+04,2.647985e+04,2.296151e+04,1.921490e+04,15949.568095,5.864610e+05,454.476944,1.010363,0.004309,116.500000
std,1.377814e+05,1.359591e+05,1.506407e+05,1.438246e+05,1.308430e+05,1.252631e+05,1.132085e+05,9.948598e+04,8.313833e+04,68346.186959,1.768617e+06,2099.486595,0.010695,0.017320,67.116814
min,7.990000e-01,8.010000e-01,8.140000e-01,7.950000e-01,8.030000e-01,7.940000e-01,7.850000e-01,7.680000e-01,7.240000e-01,0.644000,1.000000e+00,0.026300,0.987500,0.000000,1.000000
25%,4.450815e+02,4.405270e+02,5.674705e+02,4.701508e+02,4.288960e+02,4.032190e+02,3.735443e+02,2.991335e+02,2.299750e+02,167.095250,3.735250e+03,35.627050,1.002475,0.000100,58.750000
50%,5.676382e+03,5.529404e+03,6.926115e+03,6.228655e+03,5.458367e+03,5.020137e+03,4.395131e+03,3.973873e+03,3.238805e+03,2702.541000,8.356700e+04,96.595850,1.008650,0.000700,116.500000
75%,2.170759e+04,2.103077e+04,3.425410e+04,2.665764e+04,1.994430e+04,2.028161e+04,1.580665e+04,1.186751e+04,9.854343e+03,8780.009250,4.403752e+05,241.332450,1.018225,0.002725,174.250000
max,1.448471e+06,1.439324e+06,1.639176e+06,1.503642e+06,1.406848e+06,1.368811e+06,1.290551e+06,1.176884e+06,1.000089e+06,827601.394000,1.709824e+07,22249.666700,1.059600,0.182100,232.000000

In [21]:
import pandas as pd

In [26]:
data=pandas.read_csv("MY2022 Fuel Consumption Ratings.csv")

In [27]:
data

,Model Year,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating
0,2022,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,200,6,3
1,2022,Acura,MDX SH-AWD,SUV: Small,3.5,6,AS10,Z,12.6,9.4,11.2,25,263,4,5
2,2022,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232,5,6
3,2022,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242,5,6
4,2022,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941,2022,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,219,5,5
942,2022,Volvo,XC60 B5 AWD,SUV: Small,2.0,4,AS8,Z,10.5,8.1,9.4,30,219,5,5
943,2022,Volvo,XC60 B6 AWD,SUV: Small,2.0,4,AS8,Z,11.0,8.7,9.9,29,232,5,7
944,2022,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236,5,5
945,2022,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.4,8.9,10.8,26,252,5,7

In [28]:
data.describe()

,Model Year,Engine Size(L),Cylinders,Fuel Consumption (City (L/100 km),Fuel Consumption(Hwy (L/100 km)),Fuel Consumption(Comb (L/100 km)),Fuel Consumption(Comb (mpg)),CO2 Emissions(g/km),CO2 Rating,Smog Rating
count,946.0,946.000000,946.000000,946.000000,946.000000,946.000000,946.000000,946.000000,946.000000,946.000000
mean,2022.0,3.198732,5.668076,12.506448,9.363319,11.092072,27.247357,259.172304,4.539112,4.950317
std,0.0,1.374814,1.932670,3.452043,2.285125,2.876276,7.685217,64.443149,1.471799,1.679842
min,2022.0,1.200000,3.000000,4.000000,3.900000,4.000000,11.000000,94.000000,1.000000,1.000000
25%,2022.0,2.000000,4.000000,10.200000,7.700000,9.100000,22.000000,213.250000,3.000000,3.000000
50%,2022.0,3.000000,6.000000,12.200000,9.200000,10.800000,26.000000,257.000000,5.000000,5.000000
75%,2022.0,3.800000,6.000000,14.700000,10.700000,12.900000,31.000000,300.750000,5.000000,6.000000
max,2022.0,8.000000,16.000000,30.300000,20.900000,26.100000,71.000000,608.000000,10.000000,7.000000